<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="加载/css/manager.css" />
		<script type="text/javascript"></script>
    	<script type="text/javascript" src="加载/js/vue.min.js" ></script>
    	<script type="text/javascript" src="加载/js/axios.js" ></script>
    	<script type="text/javascript" src="加载/js/echarts.js"></script>
    	<script type="text/javascript" src="加载/js/jquery.min.js"></script>
	</head>
<body>
		<div id="app">
			<div id="top">
				<div id="top1">
					<h1>个人管理</h1>
				</div>
				<div id="top2">
					<div id="top3" title="退出">
					<a href="/offLine" onmouseout="showt()"><img style="width: 60px;height: 60px; margin:6px 0px;" src="加载/img/ad01.jpg"></a>
					</div>

					<img title="系统管理员" src="加载/img/ad03.png" style="width: 65px; height: 80%; margin: 8px 0px; float: left;">
					<span id="top4s"></span>

					<div id="clock" title="当前时间">
                        <a id="shop1" href="beshoper">成为商家</a>
   					<p class="date">{{ date }}{{ time }}</p>
					</div>
				</div>
			</div>
			<div id="left">
				<button id="leftbtn1" onclick="zhankai1()" onmouseover="show1()" v-on:click="lookone()" onmouseleave="hide1()">个人信息查看</button>
				<button id="leftbtn2" style="display: none;" onclick="zhankai2()" onmouseover="show2()" onmouseleave="hide2()">在售物品信息</button>
				<div id="equp" style="display: none;">
					<button onclick="eq1()" v-on:click="showgoods()">在售商品查看</button>
					<button onclick="eq2()" v-on:click="showbuy()">商品已售订单</button>
					<button onclick="eq3()" >增加在售商品</button>
				</div>
				<button id="leftbtn3" onclick="zhankai3()" v-on:click="orderByC()" onmouseover="show3()" onmouseleave="hide3()">订单及货物</button>
				<div id="item" style="display: none;">
            	<button onclick="item1()" v-on:click="showbuy()">订单查看</button>
        		</div>
        		<button id="leftbtn4" onclick="zhankai4()" onmouseover="show4()" v-on:click="showcomment()" onmouseleave="hide4()">商品问题反馈</button>

				
        		<button id="leftbtn5" onclick="useanalys1()"  onmouseover="show5()" onmouseleave="hide5()">商品问题反馈</button>
        		<div id="anydata" style="display: none">
<!--            	<button onclick="useanalys1()">种类相关分析</button>-->
<!--            	<button onclick="useanalys2()">人员相关分析</button>-->
<!--            	<button onclick="useanalys3()">时间相关分析</button>-->
        	</div>
        	<!-- <button id="leftbtn4" onclick="zhankai4()" onmouseover="show4()" onmouseleave="hide4()">查看人员使用日志</button>
				<div id="data"style="display: none;">
					<button onclick="data1()" >本管理员</button>
            		<button onclick="data2()" >用户</button>
            		
				</div> -->
				
			</div>
			<div id="main">
                <div id="mainbody">
                    <div id="users2"style="display: none;">
        <form action="editself" method="post">
        <table class="tab2">
            <tr style="display: none">
                <td>id</td>
                <td><input name="cid" readonly="readonly"  v-model="mine.cid"></input></td>
            </tr>
        <tr>
        <td>姓名</td>
        <td><input name="account" readonly="readonly" v-model="mine.account"></td>
        </tr>
        <tr>
        <td>密码</td>
        <td> <input name="password" v-model="mine.password"></td>
        </tr>
        <tr>
        <td>联系方式</td>
        <td><input name="mobile" v-model="mine.mobile"></td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input name="email" v-model="mine.email"></td>
        </tr>
            <tr>
                <td>地址</td>
                <td><input name="address" v-model="mine.address"></td>
            </tr>
        </table>
        <button type="submit">修改</button>
        </form>
        </div>
        <div id="eq1"style="display: none;">
				
				<table class="tab3">
				<tr><td>商品标号</td><td>商品名称</td><td>商品来源</td></tr>
				<!-- <tr v-for="item in goods"> -->
				<tr  v-for="item in goods">
				<td>{{item.pid}}</td>
				<td>{{item.name}}</td>
				<td>{{item.material}}</td>
				</tr>
				</table>
        </div>
        <div id="eq2"style="display: none;">
           <table class="tab4">
               <tr><td>商品名称</td><td>买家</td><td>交易日期</td></tr>
               <tr v-for="item in buydata">
                   <td>{{item.production}}</td>
                   <td>{{item.customer}}</td>
                   <td>{{item.date|subDate}}</td>
               </tr>
           </table>
        </div>
        <div id="eq3"style="display: none;">
           <table class="tab5">
           <tr><td>商品名称</td><td><input id="gname"></td></tr>
           <tr><td>商品来源</td><td><input id="gsource"></td></tr>
           </table>
           <button v-on:click="backg()">增加到我的商店</button>
        </div>
        <div id="item1"style="display: none;">
           <table id="t1" style="display: none">
           <tr><td>商品名称</td><td>下单日期</td><td>商家</td></tr>
           <tr v-for="item in Cbuyer">
           <td>{{item.production}}</td>
           <td>{{item.date|subDate}}</td>
           <td>{{item.shoper}}</td>
           </tr>
           </table>
            <table id="t2" style="display: none">
                <tr><td>商品名称</td><td>下单日期</td><td>买家</td></tr>
                <tr v-for="item in buydata">
                    <td>{{item.production}}</td>
                    <td>{{item.date|subDate}}</td>
                    <td>{{item.customer}}</td>
                </tr>
            </table>
        </div>
        <div id="data1"style="display: none;">
            7
        </div>
        <div id="data2"style="display: none;">
            8
        </div>

        <div id="analys" style="width: 600px;height:400px;display: none">
          <form action="insert" method="post" enctype="multipart/form-data">
              <table>
                  <tr><td>商品编号</td><td><input name="pid" type="text"></td></tr>
                  <tr><td>商品名称</td><td><input  type="text"></td></tr>
                  <tr><td>信息反馈</td><td><textarea name="comment"></textarea></td></tr>
                  <tr><td>添加图片</td><td><input type="file" name="multipartFile" value="选择图片"></td></tr>
                  <tr><td>卖家名称</td><td><input type="text" name="shoper"></td></tr>
                  <tr><td><input type="submit" value="提交"></td></tr>
              </table>
          </form>
            <button onclick="seeme()"><a v-on:click="seecomment()">查看我的反馈</a></button>
            <div id="see" style="display: none;">
                <table>
                    <tr><td>商品编号</td><td>卖家</td><td>反馈评论</td><td>实物图</td><td>提交时间</td><td>删除</td></tr>
                    <tr v-for="item in accountC">
                        <td style="display: none">{{item.coid}}</td>
                        <td>{{item.pid}}</td>
                        <td>{{item.shoper}}</td>
                        <td>{{item.comment}}</td>
                        <td><img style="width: 200px;height: 200px;" v-bind:src="'getPicture?picture='+item.picture"/></td>
                        <td>{{item.date|subDate}}</td>
                        <td><button v-on:click="dusedata(item)">删除反馈</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="memberusedata" style="display: none">
        <table>
        <tr><td>商品编号</td><td>买家</td><td>反馈评论</td><td>实物图</td><td>提交时间</td></tr>
        <tr v-for="item in comment">
            <td style="display: none">{{item.coid}}</td>
        <td>{{item.pid}}</td>
        <td>{{item.account}}</td>
        <td>{{item.comment}}</td>
        <td><img style="width: 200px;height: 200px;" v-bind:src="'getPicture?picture='+item.picture"/></td>
        <td>{{item.date|subDate}}</td>
        </tr>
        </table>
        </div>
    </div>
			</div>
		</div>
		<script type="text/javascript" src="加载/js/admin2.js" ></script>
		<script type="text/javascript" src="加载/js/admin1.js" ></script>
<script>
    $($.ajax({
        type:"get",// get或者post
        url:"loginer",// 请求的url地址
        dataType:"text",//json写了jq会帮我们转换成数组或者对象 他已经用JSON.parse弄好了
        success:function(data){ // 成功拿到结果放到这个函数 data就是拿到的结果
            console.log("成功拿到结果放到这个函数");
            if(data!=null&&data!==""){
                document.getElementById("top4s").innerText=data;
            }
            else{
                window.location.replace("/loginC");
            }
        },
        error:function(){//失败的函数
            console.log("失败的函数");
        },
        complete:function(){//不管成功还是失败
            console.log("不管成功还是失败")
        }
    }));
    $.ajax({
        type:"get",// get或者post
        url:"isshoper",// 请求的url地址
        dataType:"text",//json写了jq会帮我们转换成数组或者对象 他已经用JSON.parse弄好了
        success:function(data){ // 成功拿到结果放到这个函数 data就是拿到的结果
            console.log("成功拿到结果放到这个函数");
            if(data!=null&&data!==""){
                document.getElementById("shop1").style.display="none";
                document.getElementById("leftbtn2").style.display="block";
                //document.getElementById("leftbtn3").style.display="none";
                document.getElementById("leftbtn4").style.display="block";
                document.getElementById("leftbtn5").style.display="none";
                document.getElementById("t1").style.display="none";
                document.getElementById("t2").style.display="block";

            }
            else{
                document.getElementById("shop1").style.display="block";
                document.getElementById("leftbtn2").style.display="none";
                //document.getElementById("leftbtn3").style.display="block";
                document.getElementById("leftbtn4").style.display="none";
                document.getElementById("leftbtn5").style.display="block";
                document.getElementById("t1").style.display="block";
                document.getElementById("t2").style.display="none";
            }
        },
        error:function(){//失败的函数
            console.log("失败的函数");
        },
        complete:function(){//不管成功还是失败
            console.log("不管成功还是失败")
        }
    })

</script>
		
	</body>
</html>
