<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="加载/css/normalize.css">
    <link rel="stylesheet" href="加载/css/styleCR.css">
    <link rel="stylesheet" href="加载/css/bootstrap.min.css" />
</head>
<body style="background-color: #555555;">
<div class="reg_div" >
    <p>注册</p>
    <form action="login/register" method="post">
        <ul class="reg_ul">
            <li>
                <span>用户名：</span>
                <input type="text" name="account" value="" placeholder="4-8位用户名" class="reg_user">
                <span class="tip user_hint"></span>
            </li>
            <li>
                <span>密码：</span>
                <input type="password" name="password" value="" placeholder="6-16位密码" class="reg_password">
                <span class="tip password_hint"></span>
            </li>
            <li>
                <span>确认密码：</span>
                <input type="password"  value="" placeholder="确认密码" class="reg_confirm">
                <span class="tip confirm_hint"></span>
            </li>
            <li>
                <span>邮箱：</span>
                <input type="text" name="email" value="" placeholder="邮箱" class="reg_email">
                <span class="tip email_hint"></span>
            </li>
            <li>
                <span>手机号码：</span>
                <input type="text" name="phone" value="" placeholder="手机号" class="reg_mobile">
                <span class="tip mobile_hint"></span>
            </li>
            <li>
                <span>地址：</span>
                <input type="text" name="address" value="" placeholder="地址" class="reg_mobile">
                <span class="tip mobile_hint"></span>
            </li>
            <li>


            </li>
        </ul>
        <input class="btn btn-default btn-lg red_button" type="submit" name="button"  value="注册"></input>
    </form>
</div>

<script type="text/javascript" src="加载/js/jquery.min.js"></script>
<script type="text/javascript" src="加载/js/scriptCR.js"></script>

</body>
</html>