<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>jQuery Contact Form Plugin: FFForm</title>
    <link href="css/demo.css" rel="stylesheet" type="text/css">
    <script src="egpp_10_ffform/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <!--Framework-->
    <script src="egpp_10_ffform/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="egpp_10_ffform/js/jquery-ui.js" type="text/javascript"></script>
    <!--End Framework-->
     <script src="egpp_10_ffform/js/jquery.ffform.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form').ffform({ animation: 'flip', submitButton: '#submit', validationIndicator: '#validation', errorIndicator: '#error', successIndicator: '#success', 'fields': [{ 'id': 'name', required: true, requiredMsg: 'Name is required', type: 'alpha', validate: true, msg: 'Invalid Name' }, { 'id': 'email', required: true, requiredMsg: 'E-Mail is required', type: 'email', validate: true, msg: 'Invalid E-Mail Address' }, { 'id': 'phone', required: false, type: 'custom', validate: false, msg: 'Invalid Phone #' }, { 'id': 'message', required: false, type: 'text', validate: false, msg: ''}] });
        });
    </script>
</head>
<body>
<section id="getintouch" class="fadeInRightBig animated">
    <div class="container" style="border-bottom: 0;">
            <h1>
                <span>质量反馈</span>
            </h1>
        </div>
        <div class="container">
            <form class="contact" action="#"  id="form">
            <div class="row clearfix">
                <div class="lbl">
                    <label for="name">
                       产品名称</label>
                </div>
                <div class="ctrl">
                    <input type="text" id="name" name="name" data-required="true" data-validation="text"
                        data-msg="Invalid Name" placeholder="Ex: 手机1">
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label for="email">
                        发货单号</label>
                </div>
                <div class="ctrl">
                    <input type="text" id="email" name="email" data-required="true" data-validation="email"
                        data-msg="Invalid E-Mail" placeholder="Ex:10010">
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label for="email">
                        质量评估</label>
                </div>
                <div class="ctrl">
                    <input type="radio" id="phone" name="phone" value = "pass"  />合格
                        <input type="radio" name="phone" id="phone" value="unpass">不合格<br>
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label for="subject">
                        产品日期</label>
                </div>
                <div class="ctrl">
                    <input type="radio" id="subject" name="subject" value = "ontime"  />无误
                        <input type="radio" name="subject" id="subject" value="overtime">有误<br>
                </div>
            </div>
            
            
             <div class="row clearfix">
                <div class="lbl">
                    <label for="s">
                        物流：</label>
                </div>
                <div class="ctrl">
                    <input type="radio" id="subject" name="s" value = "wuwu"  />准时
                        <input type="radio" name="s" id="subject" value="yanwu">延误<br>
                </div>
            </div>
            
            
            
            <div class="row clearfix">
                <div class="lbl">
                    <label for="message">
                       其他和留言:</label>
                </div>
                <div class="ctrl">
                    <textarea id="message" name="message" rows="6" cols="10"></textarea>
                </div>
            </div>
            <div class="row  clearfix">
                
            </div>
            </form>
           <input type="submit" onclick="tu()" value="提交" />
            <div id="validation">
            </div>
        </div>
        <script type="text/javascript">
        	function tu(){
        		window.location.href="用户登陆后.html";
        	}
        </script>
    </section>
</body>
</html>
